<html layout:decorate="~{layout}">
    <div layout:fragment="content" id="contents">
        <meta charset="UTF-8">
        <link href="../css/style.css" rel="stylesheet">

        <section>
            <br>
            <h1>코리아 아이티 아카데미</h1>
            <br>
            <h2>능력 단위 평가 - 웹프로그래밍</h2>
            <br>
            <d1>
                <dt>평가 내용</dt>
                <dd>자바 기초, 데이터베이스 구축, 웹표준(HTML,CSS,JS), 웹 애플리케이션 개발 능력을 평가합니다.</dd>
            </d1>
        </section>
    </div>
</html>