<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>물류창고입출고프로그램</title>
    <link href="../css/style.css" rel="stylesheet">
    <script src="/js/script.js"></script>
  </head>
    <body>
      <header>
        <h1 class="header-title">물류 창고 입출고 프로그램</h1>
      </header>
      <nav>
        <ul id="menu">
          <li><a th:href="@{/product}">제품조회</a></li>
          <li><a th:href="@{/inout}">입출고등록</a></li>
          <li><a th:href="@{/detail}">입출고내역조회</a></li>
          <li><a th:href="@{/sales}">출고매출이익</a></li>
          <li><a th:href="@{/}">홈으로</a></li>
        </ul>
      </nav>

        <th:block layout:fragment="content"></th:block>

      <footer>
        <p class="footer-content">copyright &copy; 2024 KOREA INFORMATION TECHNOLOGY ACADEMY. ALL RIGHTS RESERVED</p>
      </footer>
    </body>
</html>